<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidappforgoogleanalytics4">

    <!-- Include the required permissions for Mobile Ads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/store_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAppForGoogleAnalytics4"> 

        <!-- Connect with AdMob app ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5430752373775862~1101865194" />

        <!-- Create activity for each product -->
        <activity android:name=".ItemZappixActivity"></activity>
        <activity android:name=".ItemPoyoActivity" />
        <activity android:name=".ItemPigzartActivity" />
        <activity android:name=".ItemMasonsActivity" />
        <activity android:name=".ItemLunchpodActivity" />
        <activity android:name=".ItemKioskActivity" />
        <activity android:name=".ItemIsoterniaActivity" />
        <activity android:name=".ItemFuturisActivity" />
        <activity android:name=".ItemFuelworksActivity" />
        <activity android:name=".ItemFlexigenActivity" />
        <activity android:name=".ItemComvergesActivity" />
        <activity android:name=".ItemComptonActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
